
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3 {
  font-family: 'Lato', sans-serif;
}

.glow {
  transition: all 0.3s ease-in-out;
}
.glow:hover {
  box-shadow: 0 0 25px rgb(71, 157, 206);
}
.img_glow {
  box-shadow: 0 0 55px rgb(71, 157, 206);
}

.neno-button {
  transition: all 0.3s ease-in-out;
}
.neno-button:hover {
  box-shadow: 0 0 15px rgb(71, 157, 206);
}
.b_glow {
  box-shadow: 0 0 15px rgb(71, 157, 206);
}

.click {
  opacity: 0;
}

.transition-colors {
  transition-property: background-color, border-color, color;
}

@media (max-width: 992px) and (orientation:landscape){
  .mobile-landscape {
    padding-left: 20px;
    padding-right: 20px;
  }
}